body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  height: 100vh;
  background-image: url("./arduino/background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
